{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>React with Django </title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="width:500px;">
        <canvas id="myChart" width="200px" height="200px"></canvas>
    </div>
 

    <div id="react-app"></div>
    {% render_bundle 'main' %}

    <script>
        //js
        {% comment %} const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['192.168.1.200', '92.168.1.201', '92.168.1.20', '92.168.1.50', '92.168.1.51', '92.168.1.61'],
        datasets: [??]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    } {% endcomment %}
{% comment %} }); {% endcomment %}
    </script>
</body>
</html>